#root {
  width: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #001f4c,#0B1226);
  
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
 
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  max-height: max-content;
  min-height: 100vh;
}


* {
  box-sizing: border-box;
}
.markdown-preview > div {
  padding: 10px;
}